[2017-03-07 19:22] Robert-Frampton opened #1 "Create ManagementBar component"
https://github.com/liferay/liferay-portal/tree/master/modules/apps/foundation/frontend-taglib/frontend-taglib/src/main/resources/META-INF/resources/management_bar

[2017-03-07 19:24] pat270 opened #2 "Create Card component"

[2017-03-10 19:12] pat270 opened #3 "Create Metal Quartz Collapse Component"
Should function similar to Bootstrap's collapse component (http://getbootstrap.com/javascript/#collapse).

[2017-03-10 19:15] pat270 opened #4 "Create Metal Quartz Button Component"

[2017-03-10 19:17] pat270 opened #5 "Create Metal Quartz Dropdown Component"

[2017-03-14 21:06] pat270 opened #6 "Metal Quartz Icon should be able render Glyphicons and Lexicon Font Awesome Icons"

[2017-03-16 18:58] brunobasto opened #9 "Add travis and saucelabs integration"

[2017-03-17 12:16] jbalsas commented on #4
Here's the definition document: https://github.com/metal/metal-quartz-components/tree/master/packages/metal-quartz-icon

[2017-03-21 21:12] pat270 opened #11 "Buttons, can we simplify some of the params?"
We have params for css classes `block`, `size`, `style`. Can we let the user define these css classes through `elementClasses`?

We have params for attributes `disabled`, `href`, `name`, `type`, `value`. Can we let the user define these attributes through a single property like `htmlAttributes`? That way we don't limit anyone to just these attributes.

[2017-03-21 23:27] robframpton commented on #11
One advantage of keeping them as their own separate params is if a parent component needs to dynamically update one of them. For example if the parent needs to toggle the `disabled` state, it would be easier to do if it was it's own param.

I do like the idea of being able to pass additional attributes, maybe we can decide on what's essential that should be it's own param, and then just let develo

[2017-03-21 23:33] jbalsas commented on #11
Hey guys, I like the idea of the attributes... I think Fernando was looking
into it though, not sure if he didn't see a way to make it happen.

One important thing to keep in mind is that these are meant to be
components that produce a faithful lexicon experience. They should be high
level and allow only what the language allows.
Free/Multipurpose/Uberconfigurable components are fine for metal. In

[2017-03-22 00:53] pat270 commented on #11
I think we can still provide a good Lexicon experience without having to declare attributes 1 to 1. Personally, having 1 to 1 seems a little counter productive (a lot of typing, prone to typos, and digging through code figuring out what it does). Like what Rob was saying, we don't need to bundle everything into one attribute. The ones that make sense should have their own e.g. disabled, type, valu

[2017-03-22 08:33] jbalsas commented on #11
Hey Patrick, no doubt we can, but that's what `metal-*` is for. Generic, reusable, configurable components for developers to do stuff with it. If we have such a component, then it should go to metal.

Quartz components need to be opinionated and very restrictive as to what they allow. In essence, yeah, they just generate static markup. Otherwise, you end up using Quartz components but creating a w

[2017-03-22 12:23] fernandosouza commented on #11
Hey, guys.

Patrick, I agree with you that letting developers define CSS classes through the `elementeClasses` makes the component quite flexible. But maybe that works well for simple components like a `button`. For more complex ones, where for changing the visual the CSS class not necessarily goes into the parent element, it doesn't. And once this component is strictly related to Quartz component

[2017-03-22 12:26] jbalsas commented on #11
Yes, the plan is to create a `metal-*` whenever we want something that is ux-agnostic and is highly configurable. `metal-quartz-*` are meant to be more opinionated and allow as less deviation from the lexicon experience as possible.

The problem with a `button` is that there is very little difference between calling it passing the params and simply generating the button markup itself. We need to b

[2017-03-22 19:01] pat270 commented on #11
Hey Chema, Fernando,

I guess this is going a bit off topic. If the plan is to create a `metal-button` component wouldn't it make sense to create that first? As it stands now, I'm unable to rely on the button component because I'm unable to pass in data attributes to the button or know what attributes I will be able to pass in.

Since it is a WIP do we just create placeholders across all the other

[2017-03-24 21:50] Robert-Frampton opened #16 "Refactor test infrastructure"
Currently we are running into some issues when running `lerna run tests`. It attempts to start up multiple instances of karma, which can cause collisions since they are starting up servers.

We also have issues with how dependencies are resolved, see discussion on #14.

The proposed solution is to run the tests from the root directory of the project similarly to how [metal.js](https://github.com/m

[2017-03-25 13:31] brunobasto commented on #16
On a side note, It is possible to run individual tests even if we run all tests from the root directory like metal does. The gulp cli bubbles up to the closest gulpfile it finds, but it saves a reference to the current working directory path. We can use that path to only include test files from within the directory the gulp cli was found.

[2017-03-28 17:50] pat270 opened #18 "Create Metal Quartz Link Component"
Reusable component that renders an anchor tag with a set list of attributes, will provide a consistent api across components that use links.

[2017-03-30 23:36] pat270 opened #20 "lerna run test could not find module"
When running `lerna run test` it's unable to find a local package.

  Uncaught Error: Could not find module '../../metal-quartz-icon/src/MetalQuartzIcon' from '/metal-quartz-components/packages/metal-quartz-link/src/MetalQuartzLink.js'
  at node_modules/karma-commonjs/client/commonjs_bridge.js:85

[2017-03-31 13:47] fernandosouza commented on #20
Hey, @pat270. I'm already working on this. There is [another issue](https://github.com/metal/metal-quartz-components/issues/16)  that mentions this.

MetalJS also uses Lerna and it has not this issue. By my research, it's because it is using Browserify to bundle files.

:)

[2017-03-31 16:05] pat270 commented on #20
I didn't realize this was a duplicate. Closing, thanks @fernandosouza.

[2017-03-31 16:05] #20 closed

[2017-03-31 17:32] pat270 opened #21 "Create Metal Clay Checkbox Component"

[2017-03-31 18:07] fernandosouza commented on #11
Hey, @pat270. I'm sorry for the delay in responding.

Yes, I would be better to start by creating a `metal-button` first, but, as I've started developing in this repository I thought to be better I continue and abstract it later.

Regarding the attributes. We could also create a generic template with general attributes and use it in the components. This way allow us to write them only once. Could

[2017-04-03 12:14] fernandosouza commented on #4
@jbalsas, is this link you posted above right? You supposed to share the button definition but the link goes to the `metal-quartz-icon` component.

[2017-04-03 14:00] fernandosouza opened #23 "Adds an attribute to make parents components be able to listen to the click event on the button."

[2017-04-03 21:49] pat270 opened #24 "Create Metal Quartz Panels"

[2017-04-03 22:45] robframpton commented on #23
Hey @fernandosouza

I think this is achievable with the `events` attribute that is built into metal.

http://metaljs.com/docs/inline-events.html

[2017-04-03 22:46] #18 closed

[2017-04-03 22:46] fernandosouza commented on #23
Awsome!!!

I'm gonna close it. 😃

[2017-04-03 22:46] #23 closed

[2017-04-04 05:19] anitaderiane commented on #16
https://issues.liferay.com/browse/IFI-56

[2017-04-04 05:19] anitaderiane commented on #21
https://issues.liferay.com/browse/IFI-55

[2017-04-04 05:21] anitaderiane commented on #5
https://issues.liferay.com/browse/IFI-57

[2017-04-04 05:24] anitaderiane commented on #1
https://issues.liferay.com/browse/IFI-58

[2017-04-04 05:25] anitaderiane commented on #2
https://issues.liferay.com/browse/IFI-59

[2017-04-04 05:27] anitaderiane commented on #24
https://issues.liferay.com/browse/IFI-60

[2017-04-18 14:38] fernandosouza commented on #21
I am going to working on this one, @pat270.

[2017-04-18 14:44] fernandosouza commented on #21
Sorry @pat270. I've just seen you already sent a pull request.

[2017-05-11 17:11] pat270 opened #29 "Clay V2/BS4 Components Migration List"
This issue is keeping track of Clay V2 migration

Components that are safe to work on:
Alerts
Badges, Labels, Stickers
Breadcrumbs
Buttons
Dropdowns
Form Elements
Form Element Input groups
Icons Clay SVG's
Modals
Multi Step Nav
Pagination
Panels (Keeping Panels)
Popovers
Progress Bars
Tables
Timelines
Toggles

(REMOVED) Figures
(REMOVED) Header Toolbar
(REMOVED) Icons Font Awesome
(REMOVED) Icons

[2017-06-09 00:00] fernandosouza commented on #16
Hey, guys. I want to let you updated with the news we have. @brunobasto figured out that `karma-commonjs` plugin was not resolving `symbolic links` correctly and we've stored [his fix in a fork in my Github profile](https://github.com/fernandosouza/karma-commonjs/commits/sym-links). It is working pretty well.

This karma plugin is used by `metal-karma-config`. [There is a branch in my fork](https:

[2017-06-15 16:48] fernandosouza opened #39 "Add .editorconfig"
What do you guys think about we use the same .editorconfig of Metal Components?
https://github.com/metal/metal-tabs/blob/master/.editorconfig

Even we don't pick the same configuration I think we should use any.

cc. @jbalsas, @pat270, @Robert-Frampton, @brunobasto

[2017-07-06 13:43] jbalsas commented on #16
I think this is already covered in the latest change, since we're already using `jest` from the top.

Please, reopen if there's still anything else worth doing.

Thanks!

[2017-07-06 13:43] #16 closed

[2017-07-06 15:51] #9 closed

[2017-07-06 15:54] jbalsas commented on #9
Done! 🎉

[2017-07-06 17:00] jbalsas commented on #39
I don't see why not... on the other hand, we have prettier enabled now, so is it really needed? What do you guys think?

[2017-07-06 17:00] #6 closed

[2017-07-06 17:00] jbalsas commented on #4
This is created :)

[2017-07-06 17:00] #4 closed

[2017-07-06 17:01] robframpton commented on #39
As long as the config matches prettier I'm fine with including it still.

[2017-08-29 09:30] carloslancha opened #58 "Can't see soy build errors on lerna run soy"
When running npm test first action executed is lerna run soy. If there're any soy errors they won't show up in console. i.e:

- Add not used parameter in `packages/clay-button/src/ClayButton.soy`
[code]
- Run `npm test` from root. Should appear an error like:
[code]
- That's because `ClayButton.soy.js` wasn't generated due build errors, but nothing warns you about those errors at least you run `np

[2017-09-11 09:54] jbalsas commented on #39
Hey @carloslancha, can you update to `prettier@1.6.0` so we can move the settings to a `.prettierrc` file? I think that solves it better since you can configure your IDEs to run `prettier` on save.

I think that should address this.

[2017-09-11 13:49] carloslancha commented on #39
https://github.com/metal/metal-clay-components/pull/66

[2017-09-11 14:58] jbalsas commented on #39
Done!

[2017-09-11 14:58] #39 closed

[2017-09-12 09:22] marcoscv-work opened #69 "Add "btn-unstyled" to Clay button"
https://github.com/metal/metal-clay-components/blob/master/packages/clay-button/src/ClayButton.js#L106

[2017-09-12 09:31] carloslancha commented on #69
https://github.com/metal/metal-clay-components/pull/70

[2017-09-12 11:23] carloslancha opened #72 "Transitive dependencies"
When we use a component as a dependency that uses another component as a dependency we need to add both as dependencies in our component in order to make soy compile working.

The problem is with `metalsoy --soyDeps`, as a workaround we made this:

https://github.com/metal/metal-clay-components/pull/71/commits/7319a9451cb303d8c51ba5dfd6da70f08d765bfd#diff-487d9b9c11d483b0c92610dbf8612825R21

[2017-09-13 15:53] matuzalemsteles commented on #72
Hey @carloslancha,

In the case of a component having two dependencies and both depend on another component, `metalsoy --soyDeps` accuses` Undefined template` and in case I add its example it accuses `Template 'ClayIcon.render' already defined`. Like the #68 case.

Do you have any insight into this?

[2017-09-13 15:55] jbalsas commented on #72
/cc @julien?

[2017-09-13 16:00] julien commented on #72
I'll have a look into it.

[2017-09-20 10:23] carloslancha commented on #72
Fixed with https://github.com/metal/metal-clay-components/pull/82

[2017-09-20 10:23] #72 closed

[2017-09-21 10:47] #69 closed

[2017-09-21 10:48] carloslancha opened #87 "Demos Background"
All clay components should be shown over white background instead of current grey.

[2017-09-21 13:45] matuzalemsteles commented on #87
Hey @carloslancha,

Would it be to follow Lexicon's demonstration standards?

[2017-09-21 16:18] carloslancha commented on #87
@matuzalemsteles  Yes, 'cause in cases like disabled unchecked checkboxes with current color you cannot see the checkbox because is in the same color as the background.

[2017-09-22 21:29] brunobasto commented on #29
hey @pat270, is this still up to date?

[2017-09-22 21:42] pat270 commented on #29
I just updated it. I had to move all the nav stuff back to pending. The nav designs were updated since I last wrote this and got some extra requirements from the Faro team.

[2017-09-26 10:11] carloslancha opened #95 "We need to manage languages in components"
Until now we're hardcoding some strings like "Search" or "Close" in the components. We need to find out a way to manage this texts to be localizable.

[2017-09-26 15:29] carloslancha opened #98 "Test throwing exceptions"
In our components there're some params that are required. In those cases if the param is not passed the component throws an exception.

If we test that like in https://github.com/metal/metal-clay-components/blob/master/packages/clay-alert/src/__tests__/ClayAlert.js#L207 tests passes but in console appears the expected error.

Should we test those cases? If yes, we have to update all our tests with

[2017-09-26 16:14] carloslancha commented on #87
https://github.com/metal/metal-clay-components/pull/99

[2017-09-27 08:04] #87 closed

[2017-09-27 13:47] vbence86 opened #101 "RadioGroup component"
### Disclaimer
ClayRadio component renders a markup that violates accessibility standards when using multiple elements with the same `name` attribute. Rendering multiple ClayRadio elements with the same name must be wrapped by either a `<fieldset>` element or a container having `role="radiogroup"` applied on it.

### Expected markup
[code]

### Proposal
To create a ClayRadioGroup component that im

[2017-09-27 13:56] carloslancha commented on #101
I think for the ClayRadioGroup case we should keep it simpler. Since we have the option `inline` to not wrap the `input` it should be the user the one who composes correctly the group, wrapping it from outside with a `<div role="radiogroup">`

Is the case, for example, of `ClayDropdownBase`. We're using there `ClayRadio` for `type: radio` items, so we need to change the API to accept something lik

[2017-09-27 14:04] vbence86 commented on #101
I think it's a also good idea. We just need to understand the effort and implications of the various solutions and once the preferred one is agreed upon this issue can be picked up.

[2017-09-27 14:13] carloslancha commented on #101
I'll take care of this tomorrow ;)

[2017-09-28 15:45] carloslancha commented on #29
The list of components ready for development is already in the board https://issues.liferay.com/secure/RapidBoard.jspa?rapidView=2883&view=detail so we don't need to have this info duplicated and probably outdated here.

Please, close the issue to avoid confusion. Thx!

[2017-09-28 16:14] #29 closed

[2017-09-28 17:13] carloslancha commented on #101
https://github.com/metal/metal-clay-components/pull/102

[2017-09-28 21:28] pat270 commented on #101
@vbence86 can you link the accessibility standard you're referring to?

[2017-09-29 07:11] vbence86 commented on #101
@pat270 Absolutely! Related standard definition: **WCAG 2.0 (A) Section 508**. TLDR;

To cut it short, all `<input type="radio" ...` with the same name must be wrapped by either `<fieldset>` element or an arbitrary element that incorporates `role="radiogroup"` attribute while the corresponding `<input type="radio" ...` elements all contain the `role="radio"` attribute.

The following example shows

[2017-09-29 16:20] pat270 commented on #101
Nice! Thanks @vbence86

[2017-10-17 14:52] carloslancha opened #113 "ClayIcon elementClasses"
We need to add elementClasses param to ClayIcon

[2017-10-17 14:57] matuzalemsteles commented on #113
Hey @carloslancha,  Do you have a specific case for adding `elementClasses`?

[2017-10-17 15:06] carloslancha commented on #113
We will need it in order to use the component in portal @matuzalemsteles

[2017-10-17 15:29] jbalsas commented on #113
Hey @carloslancha, could you please document here:
- What's the current usage in JSP: `<aui:icon ...  />`
- What's the currently generated markup for that: `<span>...</span>`
- What's the currently generated markup of the component here

I think that would help document the usecases and needs for the components :)

[2017-10-17 16:20] carloslancha commented on #113
@jbalsas I was preparing a Google Doc with the analysis of each taglib but maybe we can add an issue for each one and track it here?

[2017-10-17 16:45] jbalsas commented on #113
Let's create an Electric site!! 🎉

[2017-10-17 17:53] matuzalemsteles commented on #113
@jbalsas Looks good!

@carloslancha Patrick has updated the use of `icon-monospaced`, will have to wrap it inside a `span` and add `icon-monospaced`, we have to update` clay-icon`.

[2017-10-17 19:22] carloslancha commented on #113
@jbalsas sure!

@matuzalemsteles do we have an issue, a ticket or something for that? ClayIcon is used by a lot of components and maybe this change is not trivial at all...

[2017-10-17 19:38] matuzalemsteles commented on #113
@carloslancha the change has already been pushed into the portal. @pat270 can tell us something else about this.

[2017-10-19 14:42] juanantonLR opened #120 "ClayAlert icons"
Success and warning icons are not correct. See mockup for reference.

[2017-10-19 14:50] matuzalemsteles commented on #120
Thanks @juanantonLR!

Hey @carloslancha, we can remove the responsibility of passing the icon via `soy` in `ClayAlert` and passing the icons by css. Just like Patrick did in `ClayModal` #119. What do you think?

@pat270 you can do it ?

[2017-10-19 16:18] pat270 commented on #120
@juanantonLR the icons for success and warning don't exist in Clay, we need to add the svg's. Not related to this but we are also missing caret-right and caret-left

[2017-10-20 03:04] matuzalemsteles opened #121 "Organization of the packages"
Hey guys,

We can improve the organization of packages in `packages`, we have some packages like` generator-clay` and `browserslist-config-clay-components` that are somewhat inconsistent with the` clay-`tag.

I think of the following structure.
[code]
[code]

What do you think about this ?

[2017-10-20 07:24] jbalsas commented on #121
Hey @matuzalemsteles, does lerna even work that way? I was under the impression that all packages should live as first-level-folders inside the `packages/` folder.

Even if lerna could work in this other way, I haven't seen any big lerna project organizing packages in this way (see [jest](https://github.com/facebook/jest/tree/master/packages) for example), nor I think it brings a lot of benefits t

[2017-10-20 13:08] matuzalemsteles commented on #121
Hey @jbalsas, Yes, we can work with Lerna, I believe that the benefit would be to centralize only clay components in one place as that quantity starts to grow, and utilitarian packages in others. Maybe more like a form of organization.

[2017-10-20 13:13] jbalsas commented on #121
I’d rather extract the tools to external repos 😅

[2017-10-20 13:18] matuzalemsteles commented on #121
Okay 😆, we'd better keep it as it is.

[2017-10-20 13:33] jbalsas commented on #121
I think whatever organization we come up with is just arbitrary. You then need to remember where you would’ve put things, and eventually you’ll keep wanting to nest further. Keeping it flat for now seems just simpler at this point imho :)

[2017-10-20 14:03] matuzalemsteles commented on #121
🤔 It makes sense to me, I agree with the part we will want to nest things ... But I think the organization is necessary to continue to evolve, when it is stagnant can get to the point that it is no longer sustainable and need to re-organize. In other words, we always make the decision to organize when something is not sustainable or it does not make sense to other people ... I think that with a pr

[2017-10-20 16:06] jbalsas commented on #121
Thanks for bringing this up, @matuzalemsteles, it's always good to voice your opinion even if we see things different!

I'm closing it for now, but if everyone else agrees on this, we can reconsider :)

Sometimes less is more!!

[2017-10-20 16:06] #121 closed

[2017-10-23 14:09] carloslancha commented on #113
@pat270 @matuzalemsteles Looking at the clay's Changelog I found that icon-monospaced has been removed so... What should be the final markup?

[2017-10-23 14:13] matuzalemsteles commented on #113
Hey @carloslancha,

When `monospaced` is true, the `icon-monospace` class must wrap the `icon` in a `span`. example:
[code]

[2017-10-23 14:28] carloslancha opened #122 "ClayIcon and ClayButton monospaced"
Since `icon-monospaced` has been removed from Clay we should remove `monospaced` param as well from the component.

And since `btn-monospaced` exists we should add `monospaced` param to ClayButton component.

[2017-10-23 21:44] mthadley opened #124 "Datepicker"
Posting an issue here because we have a need for a Datepicker component. I believe there is already one somewhere in Lexicon, however I wasn't able to find it on any of the documentation sites.

Is this something that we will see worked on here?

\cc @Robert-Frampton @bryceosterhaus @pat270

[2017-10-23 22:03] matuzalemsteles commented on #124
Hey @mthadley, For now we do not have any ticket seen by the Lexicon team related to Datepicker, I can not confirm. @carloslancha can say more about it.

[2017-10-23 22:42] bryceosterhaus commented on #124
The date picker in question is seen here https://hosting-lexiconupcoming.wedeploy.io/docs/patterns/Forms/text_input_variations.html#date-field-or-date-selector

[2017-10-23 22:53] matuzalemsteles commented on #124
Hey @mthadley, Sorry for the confusion, the name is different for me in the ticket. We'll be working on him around here. If you wish to accompany https://issues.liferay.com/browse/LEXI-165

[2017-10-24 14:13] carloslancha commented on #124
Hi guys! What do you need exactly, the component (metal-soy-component) or just the markup?

[2017-10-24 16:28] mthadley commented on #124
@carloslancha Ideally the component, but the markup could be useful too.

[2017-10-25 20:07] #122 closed

[2017-10-25 20:13] jbalsas commented on #124
Hey @mthadley, @bryceosterhaus, what Lexicon shows is pretty much the default [`<input type="date">`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) control in Chrome/Opera. The idea was to just use the native ones, style them and fallback to a more custom-based picker only when necessary.

You might just start with that for now as a placeholder.

[2017-10-25 22:10] carloslancha commented on #120
Just to leave it write here we're not going to pass the icons by css so we continue passing them  via soy.

Task in JIRA: https://issues.liferay.com/browse/LEXI-203

[2017-10-25 22:38] mthadley commented on #124
@jbalsas Ah, thanks. I didn't realize it was styled after that, but sure enough the layout is nearly identical.

We still have some extra feature requirements, like support for selecting a range of dates. For now, we've built our own using `moment` to handle most of the date logic and localization.

In the future though, we can consider using the native date widget. Though I think not all browsers

[2017-10-25 23:41] carloslancha commented on #113
About icon-monospaced stuff is already clear an solved in https://github.com/metal/metal-clay-components/issues/122

Electric site for migration guides, notes and problems has been created and will be available soon.

So... let's add elementClasses param to ClayIcon :P

[2017-10-25 23:43] carloslancha commented on #101
@vbence86 can we close this issue? I guess it was solved in https://github.com/metal/metal-clay-components/pull/102 😺

[2017-10-25 23:46] carloslancha commented on #21
Since we now have https://github.com/metal/metal-clay-components/tree/master/packages/clay-checkbox can we close this issue?

[2017-10-25 23:47] carloslancha commented on #5
Since we now have https://github.com/metal/metal-clay-components/tree/master/packages/clay-dropdown can we close this issue?

[2017-10-25 23:47] carloslancha commented on #3
Since we have https://github.com/metal/metal-clay-components/tree/master/packages/clay-collapse can we close this issue?

[2017-10-26 09:02] vbence86 commented on #101
@carloslancha Yes, the reported issue has been fixed and this therefore can be closed.

[2017-10-26 09:32] #101 closed

[2017-10-30 10:57] carloslancha opened #127 "ClayAlert markup"
We need to update markup to clay 2.0.0 Beta.

[2017-10-30 11:12] carloslancha opened #128 "ClayBadge"
We need to remove badge-pill class according to Clay 2.0.0Beta

[2017-10-30 12:41] carloslancha opened #129 "ClayCheckbox and ClayRadio"
We need to replace old markup with new one.

[2017-10-30 12:49] carloslancha opened #130 "ClayNavbar"
We need to update the markup

[2017-10-30 12:50] matuzalemsteles commented on #128
I'm working on it.

[2017-10-30 12:51] matuzalemsteles commented on #127
I'm working on it.

[2017-10-30 12:51] matuzalemsteles commented on #129
I'm working on it.

[2017-10-30 14:06] #128 closed

[2017-10-30 18:37] #127 closed

[2017-10-30 18:49] #129 closed

[2017-10-30 20:59] matuzalemsteles opened #136 "ClayAlert notifications type"
Just continuing the #134 dialog so that we can get to a ClayAlert API definition.

The way we treat the **ClayAlert** API as just an alert, prevents us from adding the types of notifications.

- Alert Notifications Fixed
- Alert Notifications Absolute

Both wrap up several alerts so they can be stacked, for example:
[code]

That way we can not support **ClayAlert** this option. I want to leave my

[2017-10-30 21:02] matuzalemsteles commented on #130
Hey @carloslancha, The current markup is different from  [LEXI-166](https://issues.liferay.com/browse/LEXI-166), we change and add dropdown when the number of tabs goes over the physical size of the navbar?

[2017-10-31 00:54] matuzalemsteles commented on #120
This was fixed at #134.

[2017-11-02 20:53] jbalsas opened #138 "Export WebComponents"
[Metal.js@2.14.0](https://github.com/metal/metal.js/releases/tag/v2.14.0) is out, and with it the possibility of [generating WebComponents automatically](https://metaljs.com/docs/guides/web-components.html)

We should update all clay components so that they are exposed as WebComponents as well!

/cc @carloslancha, @matuzalemsteles

[2017-11-03 14:10] matuzalemsteles commented on #138
Awesome 🎉.

Will we use a polyfill to support the older browsers in Clay? With the use of WebComponents.

[2017-11-03 15:12] robframpton commented on #138
Hey @matuzalemsteles

Yeah the polyfill is necessary for some browsers. However, it should degrade gracefully if web components are not supported. So we don't need to force people to load the polyfill.

[2017-11-08 15:50] #138 closed

[2017-11-10 18:43] #113 closed

[2017-11-10 18:59] #1 closed

[2017-11-13 11:42] #120 closed

[2017-11-13 16:54] matuzalemsteles opened #144 "Passing parameters `data` to ClayLink"
In JSP some users need to pass attributes to their components and one way was to use the `data` parameter like **HashMap**, Use cases like when you want a link not to use the SPA, passing `data-senna-off`.

[2017-11-14 08:39] carloslancha commented on #144
We need to define a convention for this. My suggestion would be to make components accept a param named "dataAttributes" containing a map.

[code]

and in the component use it just like `elementClasses`:

[code]

[2017-11-14 09:39] jbalsas opened #145 "Remove metal-* UI components dependencies"
It has been decided to reduce the metal.js surface to only core+plugins as it was always intended.

For that reason, we have already started deprecating and archiving all the ui-related metal components. We should remove all dependencies in this project like `metal-dropdown` and keep our own versions as they will no longer be available in the future.

[2017-11-14 13:20] matuzalemsteles commented on #144
Hey @carloslancha, Sounds good to me, do you think we should use in more other components?

[2017-11-14 15:37] carloslancha commented on #144
@matuzalemsteles maybe is a good idea to add `elementClasses`, `id` and `dataAttributes` to all components by default and add it as a good practice to the guidelines.

[2017-11-14 15:44] #3 closed

[2017-11-14 15:45] #5 closed

[2017-11-14 15:50] #11 closed

[2017-11-14 15:51] #21 closed

[2017-11-14 19:10] matuzalemsteles commented on #144
@carloslancha I like this idea, I think we can do it.

[2017-11-16 12:02] julien opened #149 "Correct way to sort imports"
At the moment, we have different ways of "sorting" imports and it would be nice to have a consistent way of doing it.

Here's an example to explain this a bit further.

[code]
 If you use the [`sort`](https://www.computerhope.com/unix/usort.htm) command

[code]

The output is the following:

[code]

However, if you open this same `test.js` file with [VSCode](https://code.visualstudio.com/) the and

[2017-11-16 13:55] jbalsas commented on #149
Hey @julien, the convention (will be documented soon in the guidelines) is to have 2 blocks in this order:
- Absolute imports
- Relative imports

**The blogs should be sorted alphabetically within the block and there should be an empty line between them.**

Keep in mind that we don't use `eslint` to format, so it will warn, but not autoformat. We can enforce it via linting (and we probably will),

[2017-11-16 15:14] julien commented on #149
Thanks for claryfying @jbalsas,

I'll stick to these conventions.

[2017-11-16 15:17] #149 closed

[2017-11-17 12:35] #145 closed

[2017-11-17 12:38] jbalsas commented on #145
Don't we have any other dependency other than `metal-dropdown`?

[2017-11-17 13:27] matuzalemsteles commented on #145
Hey @jbalsas, Yes, we only had `metal-dropdown` as a dependency. 🙂

[2017-11-17 13:55] jbalsas commented on #145
Awesome! 👏

[2017-11-17 19:08] bryceosterhaus opened #151 "Initialization events? (metal-jsx)"
Is it even possible to listen for initialization events? Currently the only way to listen for these events would be to access the ref of the component, but by the time we have access to the ref I think the component will have already fired this event.

For example:

[code]

I am trying to add something like https://jsbin.com/boyusuz/3/edit?html,js,output

[2017-11-17 19:35] robframpton commented on #151
Hey @bryceosterhaus

Right now those events are bubbled up to the component level, take a look at https://github.com/metal/metal-clay-components/blob/master/packages/clay-charts/src/ChartBase.js#L110-L145.

[code]

Edit: I misread your description, but I think my code snippet should still work.

[2017-11-17 19:52] bryceosterhaus commented on #151
I haven't seen that before where you pass an "events" prop in. Seems really strange and unintuitive at first glance, but I will give it a try.

[2017-11-17 19:55] robframpton commented on #151
Yeah, it's a pattern that I think we inherited from YUI, but I think it would be more clear if it was named `on` or something like that.

You can also use it for DOM events, and you can pass selectors to filter https://metaljs.com/docs/guides/inline-events.html#inline_listeners_nested_components.

[2017-11-18 15:48] jbalsas opened #154 "ClayAlert type 'fluid'"
Based on [Lexicon Alert Pattern](https://lexicondesign.io/docs/patterns/alerts.html), the `fluid` type of alert is actually called `stripe`. For simpler usage and mapping, we should match Lexicon's type.

Also,

So it shouldn't be necessary to set closeable to true for these type of alerts.

[2017-11-18 18:57] jbalsas opened #155 "Missing eslint config and package.json scripts in generator"
The clay component generator is missing some of the last additions like `.eslintrc` default config and default `npm` scripts

[2017-11-20 17:16] carloslancha commented on #136
A bunch of toast alerts just need to be inside a container with classes `alert-notifications alert-notifications-fixed` (absolute notifications are not defined in Lexicon). Do we need a component for that?

We will have to deal with this when integrating in portal, but for now I'd stay where we are. If somebody wants to position toast alerts the need to place'em inside a container with those speci

[2017-11-20 18:12] #154 closed

[2017-11-20 18:19] bryceosterhaus opened #159 "Changing column data leads to js error"
Currently using jsx to render a pie chart. When I change the data passed into the `columns` prop, I get a js error in the console.

    at Function.keys (<anonymous>)
    at Chart.load (billboard.js:9310)
    at PieChart.handleColumnsChanged_ (ChartBase.js:360)
    at PieChart.runListeners_ (EventEmitter.js:463)
    at PieChart.emit (EventEmitter.js:189)

I think this stems from not having a defau

[2017-11-21 15:56] #155 closed

[2017-11-21 15:58] carloslancha commented on #155
`.eslintrc` file is not in every package but in the root folder. The same happens with `npm` scripts, they are in the root package.json, so we don't need to add it to the generator.

[2017-11-22 08:29] jbalsas opened #163 "Add tests of SSR of Soy"
We've recently seen differences into how soy gets rendered Server-Side and Client-side. See https://github.com/metal/metal-clay-components/pull/162 for an example.

We need to investigate a way to tests Server-Side Rendering of the Soy templates to make sure everything is rendering as expected.

[2017-11-22 13:42] matuzalemsteles commented on #130
I'm working on the update of `ClayNavbar` and I'm having some impasses with the SSR for the use case.

The definition of Dropdown usage for the lexicon team:

The problem that to check this is only when the `menus` are attached in the dom, so I'm can calculate its size, so we will have to do this makeup by javascript to work as expected.

@jbalsas, @carloslancha what do you think about this?

[2017-11-22 14:40] jbalsas commented on #130
Hey @matuzalemsteles, let's keep moving for now without implementing this feature. Let's just update the markup for now so it works properly and we can work this out later on. We might need to sit with the Lexicon team to offer alternatives.

Let's just do what's clear right now and keep moving! :)

[2017-11-23 22:30] matuzalemsteles commented on #144
Hey @carloslancha, The `SoyToIncrementalDomSrcCompiler` does not support using variables to transform into attributes. There is a question about this https://github.com/google/closure-templates/issues/112.

[2017-11-24 13:22] carloslancha commented on #144
![facepalm](https://media2.giphy.com/media/tZiLOffTNGoak/giphy.gif)

[2017-11-25 02:56] matuzalemsteles commented on #136
Hey @carloslancha, I agree with you, I think we can close this and if anyone has any different opinion we will review.

[2017-11-25 02:56] #136 closed

[2017-11-28 19:15] carloslancha opened #179 "ClayDropdown separator"
ClayDropdownBase doesn't support the flag `separator` for the regular items (type items). Does nothing and it should render a separator if true.

[2017-11-28 19:26] carloslancha opened #180 "Clay Link icon"
Do we really need an specific parameter `icon` in this component?

If we want ClayLink to render an icon we can just pass it in the label.

What do you think?

[2017-11-28 23:18] matuzalemsteles commented on #180
Hey @carloslancha, With the `icon` parameter I see that we make it easy for the developer to use when using soy for example, but when used in JSP it becomes a bit more complex to have to add **HasMap**. But it can ignore `icon` and go through the `label` as an alternative.

From another point of view, if someone simply wants to use a `icon` quickly using the `icon` parameter is more viable and sim

[2017-11-28 23:22] matuzalemsteles opened #182 "Power to customize ClayCheckbox and ClayRadio"
Currently **ClayCheckbox** and **ClayRadio** can not customize your label, there are cases like `Card` that we can make a `Card` as a checkbox.

I think we can make ClayCheckbox with a `ClayCheckboxBase` base class so we can have more customization power and make the `ClayCheckbox` class available to use as the current one.

[code]

In this thought we keep Checkbox markup control centralized in on

[2017-11-29 00:51] carloslancha commented on #182
I think what you need can be done adding a parameter called, don't know, `content` and render it instead `<span class="{$spanLabelClasses}">{$label}</span>`

What do you think?

[2017-11-29 10:57] jbalsas commented on #180
I agree that we should keep `icon` as is, in part also to make very explicit how it is meant to be used and what output one might expect rather than letting people randomly set weird things. It is also easier to consume from other languages (jsp).

Agreed with @carloslancha to close this :)

[2017-11-29 10:57] #180 closed

[2017-11-29 17:28] matuzalemsteles commented on #182
Hey @carloslancha, I did not want to change the existing markup of the Card, currently, when a card is a checkbox its markup looks like this:
[code]

[2017-11-29 18:38] carloslancha commented on #182
I know @matuzalemsteles basically there we're changing the `span` with the label text to a custom `div`, that's why I said about adding a `content` param for those cases we wan't to customize more the label.

[2017-11-29 19:09] matuzalemsteles commented on #182
Sorry @carloslancha, had not understood well 😅. This approach is also simpler, but we will give the freedom that others can customize it, is this what we want? What do you think about this?

[2017-11-29 19:15] carloslancha commented on #182
In this case I feel creating a `ClayCheckboxBase` or something like that is a little overkill for this and I'd go for a simpler approach even if that means more flexibility to the user. Both are good solutions, but I don't know...

@jbalsas any thoughts about this? 😛

[2017-11-30 09:55] jbalsas commented on #182
It is of course convenient to allow any kind of markup injection, and the more we do the more it looks like we might end up there, but I don't like the idea...

I'm not sure how everything is currently setup, but maybe we could do something like this:

We currently have:

[code]

We could do:

[code]

This way, in `ClayCard` we could do something like:

[code]

[2017-11-30 10:37] carloslancha commented on #182
Sounds great @jbalsas I'm on it!

[2017-11-30 15:30] carloslancha commented on #182
Proof of concept: https://github.com/metal/metal-clay-components/pull/186 - Rejected

[2017-11-30 16:24] carloslancha commented on #144
Hey @matuzalemsteles

@jbalsas had an idea about how to handle this, I'm working on it!

[2017-11-30 17:24] carloslancha commented on #182
Resolved in https://github.com/metal/metal-clay-components/pull/188

[2017-11-30 17:53] jbalsas opened #189 "Make ListGroup Configurable"
High-level components such as ListGroup are hard to pin down when it comes to what content is going to be rendered in them.

For that reason, it would be good to provide a customizable `contentRenderer` deltemplate of some sort so consumers can pass down the template to be used in the content portion for the items.

[2017-11-30 18:59] bryceosterhaus opened #190 "Why are we using yarn?"
Saw that we use `yarn` for this repo. I was wondering why we switched to this since Metal.js repo is using `npm`. IMO its a little confusing to change up tooling between repos. I have nothing against yarn, I just prefer consistency between repos in the org.

[2017-11-30 19:05] matuzalemsteles commented on #190
Hey @bryceosterhaus, That looks weird even at first glance. but we had several problems with dependency management and in fact we are only just using the workspace tool of yarn. You can find the reasons for this exchange in pr #78.

You can still continue using `npm run lerna` to wrap and install the required dependencies. And yet `npm run build`, `npm run test`, `npm run build`...

[2017-11-30 19:09] #182 closed

[2017-11-30 19:34] bryceosterhaus commented on #190
I see. Thanks for the response @matuzalemsteles

[2017-11-30 19:34] #190 closed

[2017-12-04 11:01] #179 closed

[2017-12-06 10:26] #144 closed

[2017-12-06 10:29] #189 closed

[2017-12-06 13:46] matuzalemsteles commented on #2
This was resolved at #201.

[2017-12-06 14:48] jbalsas opened #204 "Enable fully mcritic testing"
We are currently ignoring a lot of packages from soy linting because it gives us problems. We need to enable it again or we risk introducing bugs and inconsistencies.

[2017-12-06 15:49] jbalsas opened #205 "DelTemplate ClayCard.DescriptiveArea has different param declarations"
All `DelTemplate`s need to have the same param declarations. Otherwise, when compiled together, an error is thrown:

`In file 1076_BUNDLE_CONTEXT_/META-INF/resources/node_modules/clay-card@1.0.0-alpha.6/src/ClayUserCard.soy:53:1, template ClayCard.DescriptiveArea:user: Found delegate template with same name 'ClayCard.DescriptiveArea' but different param declarations compared to the definition at 1

[2017-12-06 17:00] #205 closed

[2017-12-06 20:55] pat270 opened #207 "Dropdown: Feature Request Alphbetical Sorting on Dropdown/up Menus"
Hey Guys,
I got a feature request on the Clay Repo that I think fits better here. See https://github.com/liferay/clay/issues/391.

/cc @duracell80

[2017-12-07 01:13] matuzalemsteles commented on #207
@pat270 Thanks.

Hey @duracell80, You can handle this before moving your list of items to Dropdown, it's an option. I see no need to create a specific resource for this. What do you think @carloslancha?

[2017-12-07 09:00] #2 closed

[2017-12-07 15:43] carloslancha commented on #207
Hey @matuzalemsteles @duracell80 yeah, I don't feel like dropdown should be responsible of this kind of things. Items should be already passed in the desired order.

Thx!

[2017-12-07 16:05] duracell80 commented on #207
I agree there. In cases where menus are not ordered though it would help increase usability and readability for the user if there was an option to control the order of the menus in the browser. Or if that was an ability a theme developer could tack on with a DOM script.

I realize this would be a low priority.

Short menus and application menus like "Edit", "Delete", "Export" not so much an issue

[2017-12-11 09:47] carloslancha commented on #207
@duracell80 in any case I think this is something to discuss with UX, to review current patterns, right now Lexicon doesn't support dropdown dynamic shorting feature, it does handle it in other ways (https://lexicondesign.io/docs/patterns/dropdowns.html), like for example filtering the items through searchbox.

I'm closing the issue for now but I've talked about your concerns with the Lexicon team

[2017-12-11 09:47] #207 closed

[2017-12-11 09:49] carloslancha commented on #204
For this we need to provide mcritic the ability to recognize correctly the modules imports.

[2017-12-11 09:54] jbalsas commented on #204
This is already implemented in `mcritic`, and we're using it [here](https://github.com/metal/metal-clay-components/blob/master/.soycriticrc.json#L2-L3)

The problem is that we have 2 import flavours:
- `import 'clay-icon'`;
- `import './ClayFooBase'`

The same re-write won't work for the second import, so we need to add the option of multiple import rewrites :(

[2017-12-12 00:12] matuzalemsteles opened #211 "Dropdown can not work well inside a container 'overflow'"
The current Dropdown that we have it identifies only the size of the screen to know which position will position itself. In more complex environments such as table, your element uses `overflow-y:hidden` it can not identify that your view will be overridden. This becomes a problem in order to use it.

<img width="307" alt="screen shot 2017-12-11 at 14 05 11" src="https://user-images.githubuserconte

[2017-12-12 08:15] yuchi commented on #211
Alloy UI drop downs used to attach the menu directly on the body and using a z-index stack manager to (try to) ensure its visibility.

In metal and ICD there's no concept of portals AFAIK (see React docs about them) and it could prove a little difficult to extract the menu in a different part of the dom.

[2017-12-12 08:17] yuchi commented on #211
Also, boostrap-style drop downs (those that just show/hide in place) are terribly easier to implement a11y-wise.

If we go back to portal-style menus we'd also need to obscure the page until the menu is closed.

[2017-12-12 19:18] carloslancha commented on #211
Hey @matuzalemsteles where do we have the `overflow: hidden`?

[2017-12-12 19:21] matuzalemsteles commented on #211
`Table` is used in the class `table-responsive` for using when viewing in the mobile. @pat270 You can talk more about it.

[2017-12-12 19:28] carloslancha commented on #211
http://pat270.github.io/lexicon/content/tables/

There it's being used `table-responsive-lg` or `table-responsive-sm`, why with those dropdown is not affected? Anyway what @yuchi pointed is true, we need to do it in a way to use dropdown in place (like we're doing right now). Maybe we should avoid this kind of overflow issues...

[2017-12-12 19:40] pat270 commented on #211
This has been a long standing issue with dropdowns in responsive tables (since BS3). The best way to avoid these kind of overflow issues is not to have dropdowns in tables. You will be able to see the overflow issue on the site if you reduce the table rows to 1 or add more items to make the dropdown really big.

Since removing dropdowns from tables doesn't seem like an option this needs to be hand

[2017-12-13 08:42] jbalsas commented on #211
Yup, this is a known issue for dropdowns, and indeed needs to be handled by the dropdown plugin, which, as @yuchi points out, might be tricky in a metal environment :(

[2017-12-13 09:51] yuchi commented on #211
This is probably a good time to include portals in metal — *iff* ICD permits.

I’ve been a huge of fan of them in my react projects. [See docs →](https://reactjs.org/docs/portals.html)

[2017-12-13 09:55] jbalsas commented on #211
Thanks @yuchi, that's a great suggestion, we'll take a look!

/cc @Robert-Frampton!

[2017-12-20 22:51] carloslancha opened #223 "ClaySticker: position JSDocs"
We need to rewrite JSDocs for position param in ClaySticker since "static" stuff doesn't exists anymore.

[2017-12-21 01:52] carloslancha opened #224 "ClayList: Missing href for quickActionItems"
We need to pass to ClayLink.render the $item.href

And use the correct API since ClayLink support icon param.

[2017-12-21 01:57] carloslancha opened #225 "ClayQuickMenu"
We need to investigate if quick menu is common enough through components to make a component.

[2017-12-21 13:44] matuzalemsteles commented on #225
I seem that `QuickMenu` is very specific to the components of table or listing. Is our intention to create this component to reuse only internally or let people use it as well?

[2017-12-21 15:09] #223 closed

[2017-12-22 18:37] #224 closed

[2017-12-23 01:39] carloslancha commented on #204
In fact we have 3 import flavours:

- import 'clay-icon';
- import './ClayFooBase'
- import {ClayActionsDropdown} from 'clay-dropdown'

So we need to take in account also the named exports. I've send a pr to fix both problems: https://github.com/metal/metal-soy-critic/pull/14

[2017-12-26 13:18] matuzalemsteles opened #231 "Update Clay for v2.0.0-beta.5"
[Changelog Clay](https://github.com/liferay/clay/blob/master/CHANGELOG.md#v200-beta5-december-25-2017)

[2017-12-26 13:22] matuzalemsteles opened #232 "Update ClaySticker markup"
New sticker markup on Clay [v2.0.0-beta.5](https://github.com/liferay/clay/blob/master/CHANGELOG.md#v200-beta5-december-25-2017).

[2017-12-26 16:21] #231 closed

[2017-12-27 09:56] #204 closed

[2017-12-28 12:36] #232 closed

[2017-12-28 19:30] kienD opened #243 "Setting a callback for data selection on clay-charts does not work"
The billboard.js config for setting a callback on data selection is `data.onselected`.

Clay-charts is trying to reference `data.onselect`, which doesn't exist.

[2018-01-04 14:36] #243 closed

[2018-01-11 23:52] #225 closed

[2018-01-15 09:21] jbalsas commented on #211
Support for Portals has been implemented and released in [Metal.js@2.16.0](https://github.com/metal/metal.js/releases/tag/v2.16.0). There's a [guide about Portals](https://metaljs.com/docs/guides/portals.html) in the site that should be a good starting point to implement this, although I think @Robert-Frampton was already working on it for this...

[2018-01-15 10:18] yuchi commented on #211
Suggestion: have a look at how `material-ui@v1` built it with portals.

Short overview:

- they have [their own wrapper](https://github.com/mui-org/material-ui/blob/v1-beta/src/Portal/) around React Portals.
- most of the “dropdown” behaviour is driven by the [Popover component](https://github.com/mui-org/material-ui/blob/v1-beta/src/Popover/Popover.js)
- most of the “overlay” behaviour is driven